<p><%= notice %></p>
<p>
  <%= link_to '投稿する', new_picture_path %>
</p>

<ul class="pictureList">
  <% @pictures.each do |picture| %>
    <li class="well">

      <div class="pictureList__user">
        <div class="pictureList__userThumb">
          <% user = @users.find(picture.user_id) %>
          <%= profile_img(user) %>
        </div>
        <p class="pictureList__userComment"><%= @users.find(picture.user_id).name %></p>
      </div>

      <div class="pictureList__photo">
        <%= image_tag(picture.photo, alt: '') %>
      </div>
      <p><%= picture.comment %></p>


      <% if picture.user_id == @curUserId %>
        <%= link_to '編集', edit_picture_path(picture.id) %>
        <%= link_to picture_path(picture.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } do %>
            削除
        <% end %>
      <% end %>
    </li>

  <% end %>
</ul>

