<% if notice %>
    <p class="pictureList__notice alert alert-success"><%= notice %></p>
<% else %>
<% end %>
<p class="text-center">
  <%= link_to '投稿する', new_picture_path, class: 'btn btn-default' %>
</p>

<div class="pictureList">
  <% @pictures.each do |picture| %>
    <div class="well">
      <div class="pictureList__user">
        <div class="pictureList__userThumb">
          <% user = @users.find(picture.user_id) %>
          <%= profile_img(user) %>
        </div>
        <p class="pictureList__userComment"><%= @users.find(picture.user_id).name %></p>
        <p class="text-right"><%= picture.updated_at.to_s(:default) %></p>
      </div>

      <div class="pictureList__photo">
        <%= image_tag(picture.photo, alt: '') %>
      </div>
      <p><%= picture.comment %></p>

      <% if picture.user_id == @curUserId %>
          <div class="text-right">
            <%= link_to edit_picture_path(picture.id) do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <% end %>
            <%= link_to picture_path(picture.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </div>

      <% end %>
    </div>

  <% end %>
</div>

