<h1>Picture#index</h1>

<p>
  <%= link_to '投稿する', new_picture_path %>
</p>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <%= image_tag(picture.photo, alt: '') %>
      <p><%= picture.comment %></p>
      <p>-------</p>
      <p><%= @user.find(picture.user_id).name %></p>

      <% if picture.user_id == @curUserId %>
        <%= link_to '編集', edit_picture_path(picture.id) %>
        <%= link_to picture_path(picture.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } do %>
            削除
        <% end %>
      <% end %>
    </li>

  <% end %>
</ul>

