<!DOCTYPE html>
<html>
<head>
  <title>InstaMitai</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,data: { confirm: 'ログアウトしますか？' } %>
</header>
<%= yield %>
<%= javascript_include_tag 'application' %>
</body>
</html>
